<div class="cart-container">
    <h2>Checkout form</h2>
    <form class="cart-panel">
        <input type="text" name="Full name" placeholder="Enter full name" autocomplete="off" minlength="3" class="form-margin">
        <br>
        <input type="address" name="Address" placeholder="Enter address" autocomplete="off" minlength="6">
        <br> 
        <input type="number" name="Credit card number" placeholder="Enter credit card number" autocomplete="off" minlength="16">
        <br>
        <button type="submit" name="Submit" class="btn btn-primary">Submit</button>
    </form>
</div>

