<div class="cart-container">
    <section class="cart-item-details" *ngFor="let item of items">
        <img alt="product-image" src={{item.url}}/>
        <br>
        <h2>{{ item.name }}</h2>
        <br>
        <h2>{{ "$" + item.price }}</h2>
        <br>
        <input type="number" placeholder="1" min="1" class="input">
        <br>
        <h2>Total: {{ "$" + item.quantity * item.price }}</h2>
    </section>
    <form #orderSubmit="ngForm" class="cart-panel; form-margin" novalidate (ngSubmit)="onSubmit()">
        <label class="label">Checkout form</label>
        <br>
        <p>
            <mat-form-field>
                <h2 class="label">Full Name</h2>
                  <input #fullName="ngModel"  matInput type="text" name="Full name" placeholder="(minimum 3 characters)" minlength="3" required [(ngModel)]="user.fullName">
                  <mat-error *ngIf="fullName.errors?.['required']">Name is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <h2 class="label">Address</h2>
                  <input #address="ngModel"  matInput type="address" name="Address" placeholder="(minimum 6 characters)" minlength="6" required [(ngModel)]="user.address">
                   <mat-error *ngIf="address.errors?.['required']">Address is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <h2 class="label">Credit card number</h2>
                   <input #creditCard matInput type="number" name="Credit card number" placeholder="(16-digit-number)"
                    autocomplete="off" minlength="16" required [(ngModel)]="user.creditCard">
                    <mat-error>Credit card number is required</mat-error>
            </mat-form-field>
        </p>
         <button mat-raised-button type="submit" [disabled]="orderSubmit.form.invalid">Submit</button> 
    </form>
</div>