<div class="cart-container">
    <form #orderSubmit="ngForm" class="cart-panel; form-margin" novalidate (ngSubmit)="onSubmit()">
        <label>Checkout form</label>
        <br>
        <p>
            <mat-form-field>
                  <input #fullName="ngModel"  matInput type="text" name="Full name" placeholder="(minimum 3 characters)" autocomplete="off" 
                  minlength="3" class="form-margin" required [(ngModel)]="user.fullName">
                  <mat-error>Name is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                  <input #address="ngModel"  matInput type="address" name="Address" placeholder="(minimum 6 characters)"
                   autocomplete="off" minlength="6" required [(ngModel)]="user.address">
                   <mat-error>Address is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                   <input #creditCard matInput type="number" name="Credit card number" placeholder="(16-digit-number)"
                    autocomplete="off" minlength="16" required [(ngModel)]="user.creditCard">
                    <mat-error>Credit card number is required</mat-error>
            </mat-form-field>
        </p>
         <button mat-button type="submit" [disabled]="orderSubmit.form.invalid">Submit</button> 
    </form>
</div>

