.header {
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif
}

a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

.active {
  background-color: blueviolet;
}
